*,
* :after,
* :before {
    box-sizing: border-box;
    background-repeat: no-repeat;
    text-decoration: inherit;
    vertical-align: inherit;
}

body.c {
    text-align: center;
    background: #00111a;
    align-items: center;
    font-family: "Poppins", sans-serif;
    overflow-wrap: break-word;
    color: white;
}

div.head {
    /*background: #003049;*/
    background: #00111a;
    height: 20rem;
    margin: 0;
}

.color_ {
    background: #00111a;
    border: 2px solid #003049;
}

.color_:hover {
    background: #00111a;
    border: 2px solid#003049;
}

.color_:enabled {
    background: #00111a;
    border: 2px solid #003049;
}

.color_2 {
    background: #00111a;
    border: 2px solid #003049;
    color: white;
}

.color_2:hover {
    box-shadow: 5px 5px 5px 5px #003049;
}

.showd:hover {
    box-shadow: 1px 1px 1px 1px #994f00;
}

.zip {
    height: 10rem
}

section.footer {
    /*background: #003049;*/
    background: #00111a;
    height: 25rem;
    margin: 0;
    color: white;
    padding: 4rem 1rem;
    text-align: left;
}

section.footer>div.foo {
    display: inline-block;
    margin: 2rem;
    width: 10rem;
    /*background: red;*/
}

section.footer>h1 {
    font-family: sans-serif;
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 1.142857;
}

div.head>h1 {
    display: inline-block;
    vertical-align: bottom;
    color: white;
}

div.F {
    width: 5rem;
}

div.house {
    display: inline-block;
    /*background: #003049;*/
    background: #00111a;
    padding: 2rem;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

div.house>img {
    width: 15rem;
    align-items: center;
}

div.house>h6 {
    display: inline-block;
    align-items: flex-end;
}

div.b {
    background: white;
}

div.b>a:link {
    text-decoration: none;
    color: currentColor;
}

div.b>a:visited {
    text-decoration: none;
    color: currentColor;
}

div.b>a:hover {
    text-decoration: none;
    color: currentColor;
}

div.b>a:active {
    text-decoration: none;
    color: currentColor;
}

div.offerta {
    /*background: #ff4000;*/
    background: #994f00;
    text-align: center;
    color: white;
    display: inline-block;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
}

.center_nav_1 {
    /*position: absolute;*/
    display: inline-block;
    /*top: 40%;
    left: 93%;
    transform: translate(-50%, -50%);*/
}

.center_nav_2 {
    /*position: absolute;*/
    display: inline-block;
    /*top: 40%;
    left: 97%;
    transform: translate(-50%, -50%);*/
}

.center_f {
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.citys {
    /*background: #003049;*/
    background: #00111a;
    position: relative;
    display: inline-block;
}

.citys>h6 {
    margin-left: 2rem;
    display: inline-block;
    text-align: center;
}

.invis:link {
    text-decoration: none;
    color: currentColor;
}

.invis:visited {
    text-decoration: none;
    color: currentColor;
}

.invis:hover {
    text-decoration: none;
    color: currentColor;
}

.invis:active {
    text-decoration: none;
    color: currentColor;
}

.invis {
    display: inline-block;
    margin: 2rem;
}

.invis_2:link {
    text-decoration: none;
    color: currentColor;
}

.invis_2:visited {
    text-decoration: none;
    color: currentColor;
}

.invis_2:hover {
    text-decoration: none;
    color: currentColor;
}

.invis_2:active {
    text-decoration: none;
    color: currentColor;
}

.invis_2 {
    display: inline-block;
    /*margin-bottom: 2rem;*/
}

.invis_offert:visited {
    text-decoration: none;
    color: currentColor;
}

.invis_offert:hover {
    text-decoration: none;
    color: currentColor;
}

.invis_offert:active {
    text-decoration: none;
    color: currentColor;
}

.invis_offert {
    display: inline-block;
}

.img_scale {
    display: inline-block;
    width: 50rem;
    height: 25rem;
}

.center_inpt {
    width: 30rem;
    display: inline-block;
    margin: 0;
}

.center_btn {
    width: 5rem;
    display: inline-block;
    margin: 0;
}

.bg-c {
    background-color: #994f00;
    color: white;
}

.bg-cc {
    background-color: #994f00;
    color: white;
}

.bg-cc:hover {
    background-color: #994f00;
    color: white;
}

.bg-cc:active {
    background-color: #994f00;
    color: white;
}

.bg-cc:disabled {
    background-color: #994f00;
    color: white;
}

.bg-cc:enabled {
    background-color: #994f00;
    color: white;
}

.center_house {
    /*position: relative;
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50%);*/
    /*width: 700px;*/
    margin: auto;
    display: inline-flex;
    /*align-items: 50px;
    justify-content: 50px;*/
}

.center_HO {
    /*position: relative;
    top: 20.5%;
    left: -3.5%;
    transform: translate(-50%, -50%);
    width: 10rem;*/
    display: inline-flex;
    margin: auto;
    /*align-items: baseline;
    justify-content: baseline;*/
}

.center_HO>h1 {
    color: white;
}


/*#
#
#
#
#
#
#
#
#
*/

#header {
    background: #00111a;
    padding: 15px;
}

#header .logo {
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 800;
    text-transform: uppercase;
}

#header .logo a {
    color: #ffffff;
}

a {
    text-decoration: none;
}

.brand {
    font-family: "Roboto", sans-serif;
}

.nav-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu>ul {
    display: flex;
}

.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
    padding: 10px 0 10px 22px;
}

.nav-menu a {
    display: block;
    position: relative;
    color: rgba(255, 255, 255, 0.7);
    transition: 0.3s;
    font-size: 14px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    padding: 0 4px;
    text-transform: uppercase;
}

.nav-menu>ul>li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: #003049;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out;
}

.nav-menu a:hover::before,
.nav-menu li:hover>a::before,
.nav-menu .active>a::before {
    visibility: visible;
    width: 100%;
}

.nav-menu a:hover,
.nav-menu .active>a,
.nav-menu li:hover>a {
    color: #ffffff;
}

.login-btn {
    margin-left: 25px;
    color: #ffffff;
    border-radius: 4px;
    padding: 6px 10px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 13px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    /*border: 2px solid #000000;*/
    position: absolute;
    top: 15px;
    right: 10px;
    /*color: rgba(255, 255, 255, 0.7);*/
    /*border: 0;*/
    /*background: none;*/
    /*font-size: 24px;*/
    /*transition: all 0.4s;*/
    /*outline: none !important;*/
    /*line-height: 1;
    cursor: pointer;
    text-align: right;*/
}

.login-lbl {
    margin-left: 25px;
    /*color: #ffffff;*/
    border-radius: 4px;
    padding: 12px 50px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    /*border: 2px solid #000000;*/
    position: absolute;
    top: 15px;
    right: 10px;
    /*border: 0;*/
    /*background: none;*/
    /*font-size: 24px;*/
    /*transition: all 0.4s;*/
    /*outline: none !important;*/
    /*line-height: 1;
    cursor: pointer;
    text-align: right;*/
    /*display: block;*/
    /*position: relative;*/
    color: rgba(255, 255, 255, 0.7);
    transition: 0.3s;
    font-size: 14px;
    font-weight: 500;
    /*font-family: "Roboto", sans-serif;*/
    /*padding: 0 4px;*/
    text-transform: uppercase;
}

.login-btn:hover {
    background: #00111a;
    color: #ffffff;
}

.login-lbl:hover {
    color: #ffffff;
}

@media(max-width:768px) {
    .login-btn {
        margin: 0 40px 0 0;
        padding: 6px 18px;
    }
}

.mobile-nav-toggle {
    position: fixed;
    top: 18px;
    right: 15px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
}

.mobile-nav-toggle i {
    color: #ffffff;
}

.mobile-nav {
    position: fixed;
    top: 55px;
    right: 15px;
    bottom: 15px;
    z-index: 9999;
    overflow-y: auto;
    background: #ffffff;
    transition: ease-in-out 0.2s;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
    padding: 10px 0;
}

.mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(17, 17, 17, 0.6);
    overflow: hidden;
    display: none;
    transition: ease-in-out;
}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active .mobile-nav {
    opacity: 1;
    visibility: visible;
}

.login-IT-flag {
    margin-left: 25px;
    /*color: #ffffff;*/
    border-radius: 4px;
    padding: 12px 50px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    /*border: 2px solid #000000;*/
    position: absolute;
    top: 15px;
    right: 104px;
    /*border: 0;*/
    /*background: none;*/
    /*font-size: 24px;*/
    /*transition: all 0.4s;*/
    /*outline: none !important;*/
    /*line-height: 1;
    cursor: pointer;
    text-align: right;*/
    /*display: block;*/
    /*position: relative;*/
    color: rgba(255, 255, 255, 0.7);
    transition: 0.3s;
    font-size: 14px;
    font-weight: 500;
    /*font-family: "Roboto", sans-serif;*/
    /*padding: 0 4px;*/
    text-transform: uppercase;
}

.login-UK-flag {
    margin-left: 25px;
    /*color: #ffffff;*/
    border-radius: 4px;
    padding: 12px 50px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    /*border: 2px solid #000000;*/
    position: absolute;
    top: 15px;
    right: 70px;
    /*border: 0;*/
    /*background: none;*/
    /*font-size: 24px;*/
    /*transition: all 0.4s;*/
    /*outline: none !important;*/
    /*line-height: 1;
    cursor: pointer;
    text-align: right;*/
    /*display: block;*/
    /*position: relative;*/
    color: rgba(255, 255, 255, 0.7);
    transition: 0.3s;
    font-size: 14px;
    font-weight: 500;
    /*font-family: "Roboto", sans-serif;*/
    /*padding: 0 4px;*/
    text-transform: uppercase;
}