body.c {
    text-align: center;
    background: white;
    align-items: center;
}

div.head {
    background: #2b6481;
    height: 20rem;
    margin: 0;
}

section.footer {
    background: #2b6481;
    height: 25rem;
    margin: 0;
    color: white;
    padding: 4rem 1rem;
    text-align: left;
}

section.footer>div.foo {
    display: inline-block;
    margin: 2rem;
    width: 10rem;
    /*background: red;*/
}

section.footer>h1 {
    font-family: sans-serif;
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 1.142857;
}

div.head>h1 {
    display: inline-block;
    vertical-align: bottom;
    color: white;
}

div.F {
    width: 50rem;
}

div.house {
    display: inline-block;
    background: #2b6481;
    padding: 2rem;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

div.house>img {
    width: 15rem;
    align-items: center;
}

div.house>h6 {
    display: inline-block;
    align-items: flex-end;
}

div.b {
    background: white;
}

div.b>a:link {
    text-decoration: none;
    color: currentColor;
}

div.b>a:visited {
    text-decoration: none;
    color: currentColor;
}

div.b>a:hover {
    text-decoration: none;
    color: currentColor;
}

div.b>a:active {
    text-decoration: none;
    color: currentColor;
}

div.offerta {
    /*background: #ff4000;*/
    background: #c12400;
    text-align: center;
    color: white;
    display: inline-block;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 1rem;
}

.center_nav_1 {
    position: relative;
    top: 50%;
    left: 291%;
    transform: translate(-50%, -3%);
}

.center_nav_2 {
    position: relative;
    top: 50%;
    left: 291%;
    transform: translate(-50%, -3%);
}

.center_f {
    position: relative;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.citys {
    background: #2b6481;
    position: relative;
    display: inline-block;
}

.citys>h6 {
    margin-left: 2rem;
    display: inline-block;
    text-align: center;
}

.invis:link {
    text-decoration: none;
    color: currentColor;
}

.invis:visited {
    text-decoration: none;
    color: currentColor;
}

.invis:hover {
    text-decoration: none;
    color: currentColor;
}

.invis:active {
    text-decoration: none;
    color: currentColor;
}

.invis {
    display: inline-block;
    margin: 2rem;
}

.invis_2:link {
    text-decoration: none;
    color: currentColor;
}

.invis_2:visited {
    text-decoration: none;
    color: currentColor;
}

.invis_2:hover {
    text-decoration: none;
    color: currentColor;
}

.invis_2:active {
    text-decoration: none;
    color: currentColor;
}

.invis_2 {
    display: inline-block;
    /*margin-bottom: 2rem;*/
}

.invis_offert:visited {
    text-decoration: none;
    color: currentColor;
}

.invis_offert:hover {
    text-decoration: none;
    color: currentColor;
}

.invis_offert:active {
    text-decoration: none;
    color: currentColor;
}

.invis_offert {
    display: inline-block;
}

.img_scale {
    display: inline-block;
    width: 50rem;
    height: 25rem;
}

.center_inpt {
    width: 30rem;
    display: inline-block;
    margin: 0;
}

.center_btn {
    width: 5rem;
    display: inline-block;
    margin: 0;
}

.bg-c {
    background-color: #c12400;
    color: white;
}

.bg-cc {
    background-color: #c12400;
    color: white;
}

.bg-cc:hover {
    background-color: #c12400;
    color: white;
}

.bg-cc:active {
    background-color: #c12400;
    color: white;
}

.bg-cc:disabled {
    background-color: #c12400;
    color: white;
}

.bg-cc:enabled {
    background-color: #c12400;
    color: white;
}

.center_house {
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50rem;
    display: inline-flex;
    margin: 0;
}

.center_HO {
    position: relative;
    top: 7%;
    left: 57%;
    transform: translate(-50%, -50%);
    width: 50rem;
    display: inline-flex;
    margin: 0;
}

.center_HO>h1 {
    color: white;
}